/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquard+24&family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Jacquard', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../images/creepy-house.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Heading and Logo */
h1 {
    font-family: "Jacquard", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    background-color: rgba(17, 3, 3, 0.5);
    color: red;
    text-align: center;
    float: inherit;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border: 2px solid red;
    border-radius: 2%;
}

/* General Styling */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 800px;
    height: 600px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

/* Buttons */
.btn-big {
    font-size: 1rem;
    padding: 3%;
    text-decoration: none;
    color: black;
    width: auto;
    background: transparent;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 4%;
}

.btn-big:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.instruction-box {
    width: 40rem;
    height: 15rem;
    font-size: 15px;
    background-color: black;
    padding: 0;
    color: red;
    position: absolute;
    text-align: center;
    transition: transform 0.4s, top 0.4s;
    display: none;
}

.open-box {
    visibility: visible;
    top: 50%;
}

.instruction-box h3 {
    text-transform: uppercase;
    margin: 30px 0 10px;
    font-size: 30px;
    font-weight: 300;
}

.instruction-box li {
    list-style: none;
}

.instruction-box button {
    width: 80px;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 20px;
}

/* Quiz Content Styling */
#quiz-content {
    background-image: url(../images/death-hands.jpg);
    margin: 0%;
    padding: 0%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quiz-container {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 30px;
}

.option-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: white;
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 red;
    transform: translateY(-0.1rem);
}

.option-prefix {
    padding: 1rem;
    background-color: red;
    color: black;
}

.option-text {
    padding: 1px;
    width: 100%;
    margin-top: 2%;
}

 h2 {
    font-size: 30px;
}


/*style for the end section*/

#quiz-end {
    display: none;
    text-align: center;
    padding: 20%;
}

.quiz-container-end {
  background-color: blue;
  border-radius: 10px ;


}

#play-again-btn {
    background-color: black;
}

audio {
    display: block;
    margin: auto;
    margin-top: 50px;
}

footer {
    position: absolute;
    margin-top: 100px;
    font-size: 30px;
    color: red;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/*end quiz*/
#end-message {
margin-bottom: 20px;
font-size: 40px;
color: red;
}

#user-score {
    font-weight: bold;
}

#play-again-btn {
    background-color: red;
}
/* Media Queries */
/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #main-container {
        max-width: 100%;
    }
}

/* Medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #hero-image {
        max-height: 300px;
    }
}
